<div class='checkout'>
  <div class='info'>
    <form action='/thank_you'>
      <label for='firstName'></label>
      <input id='firstName' type='text'>
    </form>
  </div>
  <div class='cart'>

  </div>
</div>