*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
.nav{
  height: 64px;
  background: #444;

  .icon{
    float: left;
    width: 10%;
    margin: 10px;

    img{
      height:44px;
      margin:0 10px;
      border-radius: 22px;
    }
  }

  .title{
    float: left;
    height: inherit;
    width: 50%;
    line-height: 64px;
    font-size: 24px;
    color: white;
  }

  .actions{
    width: 20%;
    max-height: 44px;
    float: right;
    margin: 10px;
    overflow: hidden;

    .ctaBtn{
      background: rgb(45, 149, 250);
      color: white;
      text-align: center;
      line-height: 44px;
      cursor: pointer;

      &:hover{
        background:rgb(22, 112, 250);
      }
    }
  }
}
.main{
  padding: 20px;

  .store{
    .category{
      height: 500px;
      margin: 0 0 80px;
      
      .title{
        font-weight: bold;
      }

      .products{
        height: 480px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .product{
          display: inline-block;
          position: relative;
          width: 150px;
          height: 450px;
          margin: 20px;

          .thumbnail{
            height: 160px;
            position: relative;

            img{
              position: absolute;
              width: 50%;
              padding-bottom: 20px;
              bottom: 0;
            }
          }
          .name{
            height: 70px;
            font-size: 13px;
            font-weight: bold;
            word-wrap: break-word;
            white-space: pre-line;
          }
          .description{
            height: 156px;
            font-size: 12px;
            white-space: normal;
            overflow-y: hidden;
          }
          .price{
            padding-top: 20px;

            &:before{
              content: "$"
            }
          }
          .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            transition: all 0.5 ease-in-out;
            text-align: center;
            
            &.show{
              visibility: visible;
            }
            &.hide{
              visibility: hidden;
            }

            .addToCart{
              display: inline-block;
              width: 80px;
              height: 30px;
              margin-top:200px;
              position: absolute;
              bottom: 20px;
              right: 0;
              color: white;
              line-height: 30px;
              background: rgb(22, 112, 250);
              font-size: 12px;
              border-radius: 8px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}