*{
  box-sizing: border-box;
}
.demo{
  width: 600px;
  margin: 40px auto;
  font-family: sans-serif;

  .hud{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .key{
      margin:20px 0 35px;
      width:60%;
      color:gray;
      font-size:14px;

      input{
        border:none;
        border-bottom:1px solid #aaa;
        font-size:18px;
        font-family: "Andale Mono";
        width:205px;
      }
    }

    .actions{
      flex: 1 20%;
      border: none;
      
      button{
        width: 112px;
        height: 44px;
        line-height: 30px;
        margin: 5px;
        background: orange;
        border: none;
  
        border-radius: 8px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        
        &.run{
          position: relative;
          margin-right: 20px;
          background: white;
          border: 0.5px solid orange;
          color: orange;
          
          &:after{
            position:absolute;
            bottom:30px;
            left:80px;
            width:40px;
            height:20px;
            border-radius:10px;
            background: orange;
            line-height:20px;
            text-align:center;
            font-size:10px;
            padding:2px;
            color:white;
            content:attr(data-count)
          }
        }
      }
    }
  }

  .title{
    height:120px;
    width:26px;
    background: tan;
    border-right: 0.5px solid #333;

    div{
      transform: translateY(66px) rotateZ(-90deg);
    }
  }

  .content{
    display: flex;
    justify-content: space-around;
    width: 100%;

    .description{
      flex: 1 44%;
      text-align: left;
      padding: 20px;
    }
    .result{
      flex: 1;
      padding: 10px;

      .label{
        font-size: 18px;
      }
    }
  }

  .context{
    display:flex;
    margin-bottom: 10px;
    border: 0.5px solid #333;
    
    .title{
      height: auto;

      div{
        transform: translateY(110px) rotateZ(-90deg);
      }
    }
    .content{
      display: flex;
      align-items: center;
      flex: 1;
      text-align: center;
      
      .stories{
        flex: 1 80%;
    
        label{
          display: block;
          margin-top: 20px;
        }
        
        select{
          display: inline-block;
          padding: 0.7em 3.5em 0.5em 1em;
          margin: 10px 0 30px;      
          line-height: 1.5em;
          background-color: white;
          border: 0.5px solid #777;
          border-radius: 4px;
          font: inherit;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
      
          &.round {
            background-image:
              linear-gradient(45deg, transparent 50%, gray 50%),
              linear-gradient(135deg, gray 50%, transparent 50%),
              radial-gradient(#ddd 70%, transparent 72%);
            background-position:
              calc(100% - 20px) calc(1em + 2px),
              calc(100% - 15px) calc(1em + 2px),
              calc(100% - .5em) .5em;
            background-size:
              5px 5px,
              5px 5px,
              1.5em 1.5em;
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
      }
      .result{
        display: flex;
        flex-direction: column;

        .icon{
          height: 60px;
          font-size: 46px;
        }
      }
    }
  }
  .actions{
    display: flex;
    margin-bottom: 10px;
    border: 0.5px solid #333;
    
    
    .title{
      height: 202px;
      background: orange;
      
      div{
        transform: translateY(106px) rotateZ(-90deg);
      }
    }
    .content{
      align-items: center;

      .products{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .variant1, .variant2, .variant3{
          display: flex;
          justify-content: space-around;
          flex: 1;

          .result{
            display: flex;
            flex-direction: column;
            text-align: center;

            .icon{
              font-size: 46px;
            }
          }
        }
      }
      .products{
        .variant1{
          .icon{
            height: 60px;
            width: 60px;
            margin: 35px auto;
            background: red;
          }
        }
        .variant2{
          .icon{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            button{
              width: 80px;
              height: 30px;
              line-height: 28px;
              border: 0.5px solid rgb(22, 112, 250);
              border-radius: 8px;
              margin: 5px;
              background: white;
              color: rgb(22, 112, 250);
              font-size: 12px;
              cursor: pointer;

              :hover{
                background:rgb(22, 112, 250);
              }
            }
          }
        }
        .variant3{
          .unit{
            font-size: 12px;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  .outcome{
    display:flex;
    margin-bottom: 10px;
    border: 0.5px solid #333;

    .title{
      background: rgb(56,160,112);
    }
    .content{
      display: flex;
      flex: 1;
      align-items: center;
      text-align: center;

      .result{
        display: flex;
        flex-direction: column;
        text-align: center;

        .icon{
          font-size: 46px;
        }
        .label{
          font-size: 20px;
        }
      }
    }
  }
}