.store{
  .category{
    height: 500px;
    margin: 0 0 80px;
    
    .title{
      font-weight: bold;
    }

    .products{
      display: flex;
      height: 480px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .product{
        position: relative;
        flex: 1 0 150px;
        height: 450px;
        margin: 20px;

        .thumbnail{
          height: 160px;
          position: relative;

          img{
            position: absolute;
            width: 50%;
            padding-bottom: 20px;
            bottom: 0;
          }
        }
        .name{
          height: 70px;
          font-size: 13px;
          font-weight: bold;
          word-wrap: break-word;
          white-space: pre-line;
        }
        .description{
          height: 156px;
          font-size: 12px;
          white-space: normal;
          overflow-y: hidden;
        }
        .price{
          padding-top: 20px;

          &:before{
            content: "$"
          }
        }
        .overlay{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          transition: all 0.5 ease-in-out;
          text-align: center;
          
          &.show{
            visibility: visible;
          }
          &.hide{
            visibility: hidden;
          }

          .addToCart{
            display: inline-block;
            width: 80px;
            height: 30px;
            margin-top:200px;
            position: absolute;
            bottom: 20px;
            right: 0;
            color: white;
            line-height: 30px;
            background: rgb(22, 112, 250);
            font-size: 12px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}