.cart h1 {
  margin: 40px 0 80px;
}
.cart .header {
  display: flex;
  justify-content: space-around;
  height: 20px;
}
.cart .header .thumbnail, .cart .header .desc, .cart .header .quantity, .cart .header .price, .cart .header .subtotal {
  font-weight: bold;
}
.cart .header .thumbnail {
  flex: 0 1 10%;
  text-align: center;
}
.cart .header .desc {
  flex: 0 1 40%;
  padding-left: 76px;
  text-align: left;
}
.cart .header .quantity {
  flex: 0 1 10%;
  text-align: center;
}
.cart .header .price, .cart .header .subtotal {
  flex: 0 1 20%;
  text-align: center;
}
.cart .items {
  border-bottom: 0.5px solid #ccc;
}
.cart .items .item {
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin: 40px 0;
  overflow: hidden;
}
.cart .items .item .thumbnail {
  flex: 0 1 10%;
  text-align: center;
}
.cart .items .item .thumbnail img {
  height: 76px;
}
.cart .items .item .desc {
  flex: 0 1 40%;
  padding-left: 76px;
}
.cart .items .item .desc .name {
  font-size: 14px;
  font-weight: bold;
}
.cart .items .item .desc .description {
  margin-top: 10px;
  font-size: 13px;
}
.cart .items .item .quantity {
  flex: 0 1 10%;
  text-align: center;
}
.cart .items .item .price {
  flex: 0 1 20%;
  text-align: center;
}
.cart .items .item .price:before {
  content: "$";
}
.cart .items .item .subtotal {
  flex: 0 1 20%;
  font-weight: bold;
  text-align: center;
}
.cart .items .item .subtotal:before {
  content: "$";
}
.cart .summary {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 7%;
  text-align: right;
}
.cart .summary .total, .cart .summary .discountTotal {
  font-weight: bold;
}
.cart .summary .total:before, .cart .summary .discountTotal:before {
  content: "$";
}
.cart .summary .discount {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 13px;
}
.cart .summary .discountTotal {
  margin-top: 20px;
  font-size: 18px;
}
.cart .summary .cartBtn {
  margin-top: 30px;
  background: #2d95fa;
  color: white;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}
.cart .summary .cartBtn:hover {
  background: #1670fa;
}

.store .category {
  height: 500px;
  margin: 0 0 80px;
}
.store .category .title {
  font-weight: bold;
}
.store .category .products {
  display: flex;
  height: 480px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.store .category .products .product {
  position: relative;
  flex: 1 0 150px;
  height: 450px;
  margin: 20px;
}
.store .category .products .product .thumbnail {
  height: 160px;
  position: relative;
}
.store .category .products .product .thumbnail img {
  position: absolute;
  width: 50%;
  padding-bottom: 20px;
  bottom: 0;
}
.store .category .products .product .name {
  height: 70px;
  font-size: 13px;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-line;
}
.store .category .products .product .description {
  height: 156px;
  font-size: 12px;
  white-space: normal;
  overflow-y: hidden;
}
.store .category .products .product .price {
  padding-top: 20px;
}
.store .category .products .product .price:before {
  content: "$";
}
.store .category .products .product .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.5 ease-in-out;
  text-align: center;
}
.store .category .products .product .overlay.show {
  visibility: visible;
}
.store .category .products .product .overlay.hide {
  visibility: hidden;
}
.store .category .products .product .overlay .addToCart {
  display: inline-block;
  width: 80px;
  height: 30px;
  margin-top: 200px;
  position: absolute;
  bottom: 20px;
  right: 0;
  color: white;
  line-height: 30px;
  background: #1670fa;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.checkout h2 {
  margin: 40px 0 20px;
}
.checkout h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.checkout input {
  height: 30px;
  margin-top: 5px;
  font-size: 14px;
}
.checkout .info {
  float: left;
  width: 50%;
  border-right: 0.5px solid #ccc;
}
.checkout .info #address {
  width: 471px;
}
.checkout .cart {
  float: left;
  width: 50%;
  padding: 0 20px;
}
.checkout .checkoutBtn {
  height: 44px;
  width: 50%;
  margin: 30px 0;
  background: #2d95fa;
  color: white;
  border: none;
  text-align: center;
  line-height: 42px;
  cursor: pointer;
}
.checkout .checkoutBtn:hover {
  background: #1670fa;
}
.checkout .shipping {
  font-size: 13px;
}

.thankYou .check {
  text-align: center;
}
.thankYou .check .emoji {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 12px;
  line-height: 200px;
  background: #9ce17b;
  border-radius: 100px;
  text-align: center;
  font-size: 150px;
  color: white;
}
.thankYou .check .thanks {
  font-size: 50px;
}
.thankYou .order {
  height: 50vh;
  margin-top: 20px;
}
.thankYou .order .items {
  height: 270px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.thankYou .order .items .item {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 450px;
  margin: 20px;
}
.thankYou .order .items .item .thumbnail {
  height: 100px;
  position: relative;
}
.thankYou .order .items .item .thumbnail img {
  position: absolute;
  width: 50%;
  padding-bottom: 20px;
  bottom: 0;
}
.thankYou .order .items .item .name {
  height: 70px;
  font-size: 13px;
  font-weight: bold;
  word-wrap: break-word;
  white-space: pre-line;
}
.thankYou .order .items .item .desc {
  height: 44px;
  font-size: 12px;
  white-space: normal;
  overflow-y: hidden;
}
.thankYou .order .items .item .subtotal {
  padding-top: 20px;
}
.thankYou .order .items .item .subtotal:before {
  content: "$";
}
.thankYou .order .summary .total {
  font-size: 18px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  height: 64px;
  background: #444;
}
.nav .icon {
  margin: 10px;
}
.nav .icon img {
  height: 44px;
  margin: 0 10px;
  border-radius: 22px;
}
.nav .title {
  flex: 2;
  height: inherit;
  line-height: 64px;
  font-size: 24px;
  color: white;
}
.nav .actions {
  width: 20%;
  max-height: 44px;
  margin: 10px;
  overflow: hidden;
}
.nav .actions .ctaBtn {
  background: #2d95fa;
  color: white;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
}
.nav .actions .ctaBtn:hover {
  background: #1670fa;
}

.main {
  padding: 20px;
}

/*# sourceMappingURL=src/css/app.css.map */
