@import 'cart.scss';
@import 'product.scss';
@import 'checkout.scss';
@import 'thankYou.scss';

*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
.nav{
  height: 64px;
  background: #444;

  .icon{
    float: left;
    width: 5%;
    margin: 10px;

    img{
      height:44px;
      margin:0 10px;
      border-radius: 22px;
    }
  }

  .title{
    float: left;
    height: inherit;
    width: 50%;
    line-height: 64px;
    font-size: 24px;
    color: white;
  }

  .actions{
    width: 20%;
    max-height: 44px;
    float: right;
    margin: 10px;
    overflow: hidden;

    .ctaBtn{
      background: rgb(45, 149, 250);
      color: white;
      text-align: center;
      line-height: 44px;
      cursor: pointer;

      &:hover{
        background:rgb(22, 112, 250);
      }
    }
  }
}
.main{
  padding: 20px;
}