.store{
  .category{
    height: 520px;
    margin: 0 0 80px;
    
    .title{
      font-weight: bold;
    }

    .products{
      height: 520px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      .product{
        position: relative;
        width: 250px;
        height: 520px;
        margin: 20px;

        .thumbnail{
          height: 160px;
          position: relative;

          img{
            position: absolute;
            width: 50%;
            padding-bottom: 20px;
            bottom: 0;
          }
        }
        .name{
          height: 70px;
          font-size: 13px;
          font-weight: bold;
          word-wrap: break-word;
          white-space: pre-line;
        }
        .description{
          height: 156px;
          font-size: 12px;
          white-space: normal;
          overflow-y: hidden;
        }
        .quantity{
          margin-top: 5px;
          font-size: 12px;
        }
        .price{
          padding-top: 20px;
          font-weight: bold;

          &:before{
            content: "$"
          }
        }
        .cartActions{
          margin-top: 20px;

          .addToCart, .buyNow, .quick{
            display: inline-block;
            width: auto;
            height: auto;
            line-height: 20px;
            padding: 5px;
            margin-right: 5px;
            color: rgb(22, 112, 250);
            background: white;
            border: 0.5px solid rgb(22, 112, 250);
            font-size: 12px;
            border-radius: 8px;
            text-align: center;
            cursor: pointer;
          }

          .buyNow, .quick{
            background: white;
            color: rgb(22, 112, 250);
          }
        }
      }
    }
  }
}